
ion-content{
  --background:transparent;
 
  
  .black-blob{
    --background: transparent;
    z-index: -1;
    position: absolute;
    width: 300px;
    margin:auto;
    top: 0;
    display: inline;
    opacity: 0.8;
  }
  
  .black-blob2{
    --background: transparent;
    z-index: -1;
    position: absolute;
    margin:auto;
    width: 500px;
    top: 0;
    display: inline;
    opacity: 0.8;
  }
      
  .black-blob3{
    --background: transparent;
    z-index: -1;
    margin:auto;
    position: absolute;
    width: 300px;
    top: 0;
    display: inline;
    opacity:0.8;
  }   
  .black-blob4{
    --background: transparent;
    z-index: -1;
    margin:auto;
    position: absolute;
    width: 500px;
    top: 0;
    display: inline;
    opacity:0.8;
  }   

    ion-row{
      ion-col{
        ion-item{
            padding: 20px 0 16px 0;
            --background: transparent;
            z-index: -1;
            color: black;
            font-weight: 500;
            font-size: x-large;
          }
        ion-button{
          
          color: white;
        }
      }
    }
}
