.Settings {
    text-align: center;
  }
  
  .Settings-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Settings-logo {
      animation: Settings-logo-spin infinite 20s linear;
    }
  }
  
  .Settings-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Settings-link {
    color: #61dafb;
  }
  
  @keyframes Settings-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  