ion-toolbar{
  
  
  ion-title{
    padding: 20px 0 46px 0;
    font-weight: 700;
  }
 p{
   padding: 40px 0 20px 0;
   font-weight: 700;
 }
.back-circle{
  z-index: -1;
  width: 200px;
  height: 200px;
  background: #f8ce;
  position: absolute;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
}

  